<html lang="en">
  <head>
    <title>Weather App</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This is some content!</p>
      <form>
        <input type="text" name="city" placeholder="San Francisco" />
        <button>Search</button>
      </form>
      <p class="message-one"></p>
      <p class="message-two"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
  </body>
</html>